*.out
*.exe
*.o
*.swp
*.c~

TODO.txt

test/ir/actual_out/*
test/parser_console/actual_out/*
test/parser_ast/actual_out/*
test/lexer_tokens/actual_out/*
test/lexer_console/actual_out/*

test/ir/ir_test
test/parser_console/parser_console_test
test/parser_ast/parser_ast_test
test/lexer_tokens/lexer_tokens_test
test/lexer_console/lexer_console_test

*.dSYM/
